<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">The collections are the perfect alliance between Parisian glamor and Italian know-how. The story behind the brand's must-have red sole harks back to the flawless creativity and flamboyant personality of the designer who, while working in his studio in the 1990s, borrowed a bottle of nail polish from his assistant Sarah and started painting the bottom of one of her shoes.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Don't miss our selection of the iconic So Kate and Pigalle pumps.</p></div>
        </div>
        
    </div>
  </section>
